.coffees {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.coffees a {
    text-decoration: none;
    color: black;
    flex-basis: 30%;
}

@media only screen and (max-width: 1000px) {
    .coffees a {
        flex-basis: 40%;
    }

}
@media only screen and (max-width: 600px) {
    .coffees a {
        flex-basis: 80%;
    }
}