.hero {
    background-image: url('https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* font-family: 'Amatic SC', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Sacramento', cursive; */

.hero h1 {
    color: white;
    font-family: 'Sacramento', cursive;
    margin: 0;
    font-size: 8rem;
    text-shadow: 6px 6px 6px black;
    letter-spacing: 2px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.fa-chevron-down {
    color: black;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
}