nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav h1 {
    margin-left: 3%;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 4px;
    font-size: 1.5rem;
}

nav a {
    margin-left: 3%;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 6%;
}

nav li {
    list-style-type: none;
    margin-left: 5px;
}

.hamburger-react, .hamburger-container {
    display: none;
}

.active {
    display: block;
    height: 0;
    transition: 0.4s ease-in; 
}

.hamburger-menu ul li {
    display: none;
}



@media only screen and (max-width: 500px) {
    nav li {
        display: none;
    }

    .active {
        height: 100vh;
        width: 100%;
        z-index: 99;
    }

    .hamburger-menu ul {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        width: 80vw;
    }

    .hamburger-menu ul li {
        display: block;
        transition: .3s;
        width: 80vw;
        text-align: center;
        padding: 25px 0px;
        cursor: pointer;
    }

    .hamburger-menu ul li:hover {
        background-color: black;
        color: white;
    }

    .hamburger-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hamburger-react, .hamburger-container {
        display: block;
    }

    .hamburger-react {
        position: absolute!important;
        top: 10px!important;
        right: 10px!important;
    }
}